/* ------HOMEPAGE------ */

/* --color pallete--

body background 
rgb(240, 247, 241)

solid accents
#66a33c

font
#3e5f27 */


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 247, 241);
}


/* search bar */

.search {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #66a33c;
    height: 60px;
}

.search-form {
    margin-right: 16%;
}

.search-input {
    height: 28px;
    width: 200px;
    border-radius: 8px;
    border: none;
    background-color: rgb(240, 247, 241);
}

.search-button {
    height: 30px;
    width: 90px;
    border-radius: 8px;
    border: none;
    background-color: rgb(240, 247, 241);
    color: #4b772d;
}

.search-button:hover {
    cursor: pointer;
}


/* header */

.header {
    width: 68%;
    display: flex;
    flex-direction: left;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header>img {
    margin-right: 20px;
    width: 100px;
}


/* mission */

.mission {
    width: 68%;
    position: relative;
    text-align: left;
}

.mission>img {
    width: 100%;
    filter: brightness(60%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mission>img:hover {
    filter: brightness(40%);
    cursor: pointer;
}

.caption-wrap {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.caption-wrap>h2 {
    font-size: xx-large;
    margin-left: 10px;
    margin-bottom: 10px;
}

.caption-wrap>p {
    font-size: x-large;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}


/* about */

.about {
    margin-top: 30px;
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.fundrasing-box, .ourwork-box {
    width: 48%;
    position: relative;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fundrasing-box {
    display: flex;
    justify-content: left;
}

.ourwork-box {
    display: flex;
    justify-content: right;
}

.fundrasing-box>img, .ourwork-box>img {
    width: 100%;
    filter: brightness(60%);
}

.fundrasing-box>img:hover, .ourwork-box>img:hover {
    filter: brightness(40%);
    cursor: pointer;
}

.fundrasing-box>h3, .ourwork-box>h3 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:x-large;
}


/* news */

.news {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 68%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.news-box-1, .news-box-2, .news-box-3 {
    height: 400px;
    width: 30%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow-y: scroll;
}

.news-box-1> .news-box-head {
    background-color: #66a33c;
}

.news-box-1> .news-box-head> h4 {
    color: white;
}

.news-box-1> .h4-content-box {
    margin-top: 20px;
}

/* @media screen and (max-width: 800px) {
    .news-box-1> .h4-content-box> :last-child {
      display: none;
    }
} */

.news-box-2>img, .news-box-3>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.news-box-head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.news-box-head>h4 {
    color: black;
}

.news-box-head>h4:hover {
    cursor: pointer;
    color: #3e5f27;
}

.news-box-1>.news-box-head>h4:hover {
    color: white;
    cursor: default;
}

.h4-content-box {
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* @media screen and (max-width: 1200px) {
    .h4-content-box> p {
      display: none;
    }
} */

.h4-content-box> p {
    margin: 0;
}

.h4-content-box> .link-date> a {
    text-decoration: none;
    color: #3e5f27;
}

.h4-content-box> .link-date> a:visited {
    color: #3e5f27;
}

.link-date>h5 {
    margin-top: 10px;
}